<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
			<ul>
			<li><a href="{%url 'home'%}">Inicio</a></li>
			<li><a href="{%url 'noso'%}">Acerca de</a></li>	
            <li><a href="{%url 'conta'%}">Contacto</a></li>
            <li><a href="{%url 'servi'%}">Servicio</a></li>
            
			</ul>
		</nav>
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>